<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>４工場レイアウト表示</title>
</head>
<body style='margin:1%;'>
<table width='100%' height='80%' cellspacing='3' cellpadding='0' border='2' bordercolor='#1a6699'>
    <tr>
        <td width='10' rowspan='3'></td>
        <td width='70' height='40' rowspan='3'>材料置き場</td>
        <td height='30' bgcolor='#f0f0f0'><center><b>ドア</b></center></td>
        <td height='30' colspan='4'></td>
        <td height='30' bgcolor='#f0f0f0' nowrap><b>↑ １工場</b></td>
        <td height='30' colspan='4'></td>
        <td height=30 bgcolor='#f0f0f0'><b>事務所 →<b></td>
    </tr>
    <tr>
        <td width=60 height=40 rowspan=2></td>
        <td rowspan=2>
            <input type='image' alt='機械No1362 BNC-3' height=65 width=65 border=0 src='img/1362.jpg'>
            1362<br>BNC-3
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1363 BNC-2' height=65 width=65 border=0 src='img/1363.jpg'>
            1363<br>BNC-2
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1348 BNC-1' height=65 width=65 border=0 src='img/1348.jpg'>
            1348<br>BNC-1
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1347 BND-1' height=65 width=65 border=0 src='img/1347.jpg'>
            1347<br>BND-1
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1364 BND-4' height=65 width=65 border=0 src='img/1364.jpg'>
            1364<br>BND-4
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1361 BNF-1' height=65 width=65 border=0 src='img/1361.jpg'>
            1361<br>BNF-1
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1351 BNF-2' height=65 width=65 border=0 src='img/1351.jpg'>
            1351<br>BNF-2
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1344 BND-3' height=65 width=65 border=0 src='img/1352.jpg'>
            1352<br>BND-3
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1353 BND-2' height=65 width=65 border=0 src='img/1353.jpg'>
            1353<br>BND-2
        </td>
    </tr>
    <tr>
        <td height=120>
            <input type='image' alt='機械No1307 NC-7' height=65 width=65 border=0 src='img/1307.jpg'>
            1307<br>NC-7
        </td>
    </tr>
    <tr>
        <td width=10 height=100 bgcolor='#f0f0f0'><b>ドア</b></td>
    </tr>
    <tr>
        <td width=10 rowspan=3></td>
        <td rowspan=2>
            <input type='image' alt='機械No1345 LD-4' height=65 width=65 border=0 src='img/1345.jpg'>
            1345<br>LD-4
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1341 KNC-1' height=65 width=65 border=0 src='img/1341.jpg'>
            1341<br>KNC-1
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1342 LD-1' height=65 width=65 border=0 src='img/1342.jpg'>
            1342<br>LD-1
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1343 LD-2' height=65 width=65 border=0 src='img/1343.jpg'>
            1343<br>LD-2
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1345 LD-3' height=65 width=65 border=0 src='img/1345.jpg'>
            1344<br>LD-3
        </td>
        <td rowspan=2>
            <input type='image' alt='機械No1346 BNE-1' height=65 width=65 border=0 src='img/1346.jpg'>
            1346<br>BNE-1
        </td>
        
        <td colspan=3></td>
        
        <td rowspan=2>
            <input type='image' alt='機械No1349 WTS-1' height=65 width=65 border=0 src='img/1349.jpg'>
            1349<br>WTS-1
        </td>
    </tr>   
    <tr>
        <td height=80 colspan=3><center>洗浄機</center></td>
    </tr>
    <tr>
        <td height=30 colspan=5></td>
        <td height=30 bgcolor='#f0f0f0'><center><b>５工場 ↓</b></center></td>
    </tr>
</table>
</body>
</html>
